<nav class="navbar fixed-top" style="background-color: #d9ffb3;">
     <a class="navbar-brand" href="#">COMMUNITY  HEALTH</a>
     <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </p>
</nav>

<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

